<% include ../partials/headerAdmin %>
    
        <div class="jumbotron espacamento">
            <h1>Bem-vindo à parte administrativa.</h1>
        </div>
        
                       
    
<% include ../partials/footerAdmin %>