<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
      <link rel="stylesheet" href="/stylesheets/styles.css"/>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote-bs4.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-danger">
      <a class="navbar-brand text-light" href="/admin">ICM-BV</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin">Início <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastros</a>
            <div class="dropdown-menu bg-danger" aria-labelledby="dropdown01">
              <a class="dropdown-item text-light bg-danger" href="/admin/noticias/new">Cadastrar Nova Notícia</a>
              <a class="dropdown-item text-light bg-danger" href="/admin/anexo/new">Cadastrar Novo Anexo</a>
              <a class="dropdown-item text-light bg-danger" href="/admin/lema/new">Cadastrar Novo Lema</a>
            </div>
          </li>          
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/contato">Contato</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container espacamento">
      <% if(msgErro && msgErro.length > 0) { %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= msgErro %>
        </div>
      <% } %>
      <% if(msgSucesso && msgSucesso.length > 0) { %>
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= msgSucesso %>
        </div>
      <% } %>
  </div>
  <div class="container">
    
    