<% include partials/headerPublic %>
    ]
    <main>
        <div class="row">
            <div class="col l6 s12 center-align">
                <i class="material-icons large ">cloud_download</i>
                <p>Arquivos de louvores, mensagens e estudos bíblicos para download.</p>
            </div>
            <div class="col l6 s12 center-align">
                <i class="material-icons large ">contact_mail</i>
                <p>Possui dúvidas? Entre em contato conosco. Assim que possível, estaremos sanando suas dúvidas.</p>
            </div>

        </div>
    </main>

    <% include partials/footerPublic %>