<% include partials/headerPublic %>
<main>
    <div class="container">

        <div class="section">
            <h5 id="headerQuemSomos" class="flow-text">A Igreja Cristã Maranata emergiu no seio da comunidade evangélica como resultado de um acontecimento previsto para o tempo presente como está escrito no livro do profeta Joel 2:28 que diz:“E há de ser que nos últimos dias derramarei o
                meu Espírito sobre toda a carne. E vossos filhos e vossas filhas profetizarão, os vossos velhos terão sonhos, os vossos mancebos terão visões.”</h5>
        </div>

        <div class="divider"></div>
        <div class="section">
            <h5 class="red-text">Fundador e fundamento</h5>
            <p class="flow-text">O fundador e o fundamento se identificam na pessoa do Senhor Jesus Cristo. Não há, portanto ênfase a outro nome ou nomes já que a sua existência é parte do plano profético de Deus para os nossos dias.</p>
        </div>

        <div class="divider"></div>
        <div class="section">
            <h5 class="red-text">Objetivo</h5>
            <p class="flow-text">Todavia, a Igreja Cristã Maranata Presbitério Espiritosantense, como instituição religiosa, nasceu em janeiro de 1968, no bairro da Toca, no município de Vila Velha, Estado do Espírito Santo, Brasil, com o objetivo de adorar a Deus e pregar
                o evangelho conforme as escrituras do Velho e Novo Testamento como única regra de fé e prática, bem como conscientizar a formação espiritual e social do homem, a educação cristã e promover obras beneficentes e assistência moral e educacional,
                sem fins lucrativos em território nacional e exterior.</p>
        </div>

        <div class="divider"></div>
        <div class="section">
            <h5 class="red-text">Nosso credo</h5>
            <p class="flow-text">Cremos em todas as doutrinas ensinadas nas Escrituras Sagradas do Velho e do Novo Testamento, sobretudo em todas aquelas nas quais a Igreja fiel através dos séculos sempre creu em particular as referentes à Trindade, ao plano de salvação
                pela graça mediante a fé na pessoa e na obra consumada pelo Senhor Jesus na cruz do Calvário. Cremos, ainda, nas doutrinas pentecostais do batismo com o Espírito Santo, dos dons espirituais e da direção do Senhor Jesus sobre Sua Igreja.
                Cremos que a Igreja deve estar atenta para as doutrinas bíblicas para que possa viver em santificação e em obediência à vontade de Deus. Cremos que a prática dos ensinamentos das Escrituras Sagradas, em particular dos que se referem
                à importância do uso dos recursos da graça são suficientes para que qualquer igreja seja despertada do estado de sono espiritual.
            </p>
        </div>

        <div class="divider"></div>
        <div class="section">
            <h5 class="red-text">Origem da palavra Maranata</h5>
            <p class="flow-text">
                A palavra Maranata para nós não é só um nome, mas um patrimônio espiritual. Ela identifica o chamado, uma convocação do Espírito Santo, para um momento, um tempo especial da história e vida da Igreja que é o ARREBATAMENTO! Nós emergimos
                do meio evangélico como opção, para definir este momento histórico e profético.Maranata é a palavra usada por Paulo para falar sobre a grande mensagem da Igreja, que é “O Rei vem”, ou seja, “Jesus voltará”. Em janeiro de 1980, por
                revelação do Senhor Jesus esta Obra passou a chamar-se Igreja Cristã Maranata, mostrando que a obra seria conhecida no mundo todo pela mensagem que estaria pregando. “Maranata, o Senhor Jesus vem”.
            </p>
        </div>

        <div class="divider"></div>
        <div class="section">
            <h5 class="red-text">Ministério voluntário</h5>
            <p class="flow-text">
                Trata-se de uma igreja pentecostal, com sede localizada em Vila Velha e que congrega nos dias atuais (dezembro de 2012) cerca de 900 mil membros, cinco mil igrejas e templos. O Espírito Santo é aquele que conduz todas as coisas, onde não há projeção de
                pessoas, são voluntários e não remunerados.
            </p>
        </div>

        <div class="divider"></div>
        <div class="section">
            <h5 class="red-text">Doutrina de corpo</h5>
            <p class="flow-text">
                Jesus Cristo é O cabeça (Ef:5:23) e a igreja Seu corpo. Essa doutrina tem sido uma realidade entre nós, não só como crença, mas vivida, com experiências marcantes em seu dia-a-dia, de um só governo, uma só doutrina.
            </p>
            <p class="flow-text">
                Um dos motivos do Senhor em batizar com Espírito Santo seus servos – jovens, adultos, anciãos – foi para permitir que o Senhor Jesus governasse Sua Igreja. Segundo o profeta Joel, como consequência desse batismo, seus servos receberiam visões, sonhos
                e profecias (Joel 2:28), ou seja, todos esses dons que permitem o Senhor revelar Sua vontade aos seus servos.
            </p>
            <p class="flow-text">
                Na época dos apóstolos, observa-se que os dons eram usados, sobretudo para revelar a vontade de Deus sobre Sua Obra. Temos exemplos disso nos dons espirituais por meio dos quais o Senhor revelou a Cornélio que deveria chamar Pedro a sua casa (At. 10:3-6),
                orientou Filipe a pregar ao eunuco etíope (At. 8:26, 29), orientou Ananias a visitar Paulo e orar por ele (At. 9:10-16), revelou a Pedro para não hesitar, mas pregar o evangelho aos gentios na casa desse centurião (At.10:9-16 e 19-20),
                revelou a Paulo que não deveria pregar o evangelho na Ásia nem na Bitínia, mas na Macedónia (Atos 16:6-10), revelou à Igreja que estatutos no Velho Testamento deveriam ser observados pelos gentios que se convertiam (Atos 15:28,29),
                Paulo foi orientado a subir a Jerusalém para submeter seu ensino aos apóstolos (Gál. 2:1-2), o Senhor revelou que havia escolhido Timóteo para o ministério da Palavra (II Tim 4:14), etc.
            </p>
            <p class="flow-text">
                A igreja de nossos dias têm experiências semelhantes, a Igreja tem entendido que o Senhor Jesus deve tornar-se na prática – e não apenas em teoria – o Cabeça da Igreja. Por meio da Sua Palavra escrita temos a doutrina e as orientações necessárias para
                a edificação da Igreja.
            </p>
        </div>

        <div class="divider"></div>
        <div class="section">
            <h5 class="red-text">Doutrina de corpo</h5>
            <p class="flow-text">
                Jesus Cristo é O cabeça (Ef:5:23) e a igreja Seu corpo. Essa doutrina tem sido uma realidade entre nós, não só como crença, mas vivida, com experiências marcantes em seu dia-a-dia, de um só governo, uma só doutrina.
            </p>
            <p class="flow-text">
                Um dos motivos do Senhor em batizar com Espírito Santo seus servos – jovens, adultos, anciãos – foi para permitir que o Senhor Jesus governasse Sua Igreja. Segundo o profeta Joel, como consequência desse batismo, seus servos receberiam visões, sonhos
                e profecias (Joel 2:28), ou seja, todos esses dons que permitem o Senhor revelar Sua vontade aos seus servos.
            </p>
            <p class="flow-text">
                Na época dos apóstolos, observa-se que os dons eram usados, sobretudo para revelar a vontade de Deus sobre Sua Obra. Temos exemplos disso nos dons espirituais por meio dos quais o Senhor revelou a Cornélio que deveria chamar Pedro a sua casa (At. 10:3-6),
                orientou Filipe a pregar ao eunuco etíope (At. 8:26, 29), orientou Ananias a visitar Paulo e orar por ele (At. 9:10-16), revelou a Pedro para não hesitar, mas pregar o evangelho aos gentios na casa desse centurião (At.10:9-16 e 19-20),
                revelou a Paulo que não deveria pregar o evangelho na Ásia nem na Bitínia, mas na Macedónia (Atos 16:6-10), revelou à Igreja que estatutos no Velho Testamento deveriam ser observados pelos gentios que se convertiam (Atos 15:28,29),
                Paulo foi orientado a subir a Jerusalém para submeter seu ensino aos apóstolos (Gál. 2:1-2), o Senhor revelou que havia escolhido Timóteo para o ministério da Palavra (II Tim 4:14), etc.
            </p>
            <p class="flow-text">
                A igreja de nossos dias têm experiências semelhantes, a Igreja tem entendido que o Senhor Jesus deve tornar-se na prática – e não apenas em teoria – o Cabeça da Igreja. Por meio da Sua Palavra escrita temos a doutrina e as orientações necessárias para
                a edificação da Igreja.
            </p>
        </div>

        <div class="divider"></div>
        <div class="section">
            <h5 class="red-text">Nossa Mensagem</h5>
            <p class="flow-text">
                Nosso primeiro objetivo é divulgar a Obra que o Espírito Santo está encarregado de realizar nesta última hora, revelando que o Senhor Jesus está vivo, manifestando a presença real de Cristo no meio da Igreja e preparando a Noiva para o arrebatamento.
            </p>
            <p class="flow-text">
                Vivemos no momento profético que precede de perto a volta do Senhor Jesus em glória para arrebatar Sua Igreja. Não sabemos o dia, nem a hora, mas temos a obrigação de discernir os sinais dos tempos. Foi para que pudéssemos entender o momento profético
                em que vivemos que o Senhor Jesus deixou e falou de tantos sinais em seu Sermão Profético e no livro do Apocalipse.
            </p>
            <p class="flow-text">
                Entendemos que, como Noiva de Jesus, a Igreja está atenta ao momento do retorno do Senhor, com candeias cheias de azeite, ou seja, cheia do Espírito Santo, pois, além de terem sidos batizados com o Espírito, os servos fiéis do Senhor enchem-se continuamente
                do Espírito (Ef. 5:18-21).
            </p>
            <p class="flow-text">
                Neste momento profético, a Igreja deve estar pregando o Evangelho de Jesus com poder e a Palavra deve ser acompanhada de sinais que a confirmem. Daí a necessidade de a Igreja estar buscando o batismo com o Espírito Santo (At. 1:8) e os dons espirituais.
                As manifestações de dons espirituais são usadas pelo Senhor para demonstrar ao mundo que Jesus está vivo! Além de proclamar que o Senhor Jesus está vivo, a Igreja tem a grande responsabilidade de anunciar que Ele em breve voltará!
            </p>
        </div>

        <div class="divider"></div>
        <div class="section center">
            <blockquote>
                <h3>Ora vem Senhor Jesus!</h3>
            </blockquote>
        </div>

    </div>
</main>
    
<% include partials/footerPublic %>