.slider {
    margin-top: 2em;
}

footer {
    margin-top: 2em;
}

.section>p {
    text-align: justify;
}

#headerQuemSomos {
    text-align: justify;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.aviso{
    height: 50px;
}